# ------------------------------------------------------------------
#  DICOM-labeler generated data
# ------------------------------------------------------------------
previews/                
series_info.tsv
sequence_identifier_output.tsv

# ------------------------------------------------------------------
#  Python artefacts
# ------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

#  virtual envs
.venv/
env/
venv/
# ------------------------------------------------------------------
